html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* global */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #2d2d2d;
  background-size: 100% 100%;
  overflow: hidden;
  background: -webkit-gradient(radial, 100% 10%, 0, 100% 10%, 100, color-stop(0%, #375651), color-stop(100%, #000000));
  background: -webkit-radial-gradient(100% 10%, ellipse, #375651, #000000);
  background: -moz-radial-gradient(100% 10%, ellipse, #375651, #000000);
  background: -o-radial-gradient(100% 10%, ellipse, #375651, #000000);
  background: radial-gradient(100% 10%, ellipse, #375651, #000000);
}

#view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

#main {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
#main[data-rotating='1'] {
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

/* svg */
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: white;
}

/* navi */
.navi {
  position: fixed;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  z-index: 9999;
  cursor: default;
  -webkit-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -moz-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -o-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
.navi:hover {
  bottom: 0px;
}
.navi:hover .navi-border {
  border: 1px solid rgba(127, 255, 255, 0.3);
}
.navi:hover ul {
  top: -10px;
}
.navi .navi-border {
  position: relative;
  margin: -60px auto 0;
  width: 60%;
  height: 80px;
  border: 1px solid rgba(127, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
  -webkit-transform: rotateX(30deg);
  -moz-transform: rotateX(30deg);
  -ms-transform: rotateX(30deg);
  -o-transform: rotateX(30deg);
  transform: rotateX(30deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.navi ul {
  position: relative;
  top: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -moz-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -o-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
}
.navi .item {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 10%;
  height: 60px;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  padding: 20px;
  z-index: 99;
  -webkit-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -moz-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -o-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
}
.navi .item:hover {
  color: white;
  text-shadow: 0 0 20px rgba(0, 255, 255, 0.95);
  background: rgba(255, 255, 255, 0.3);
}

/* layer */
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: painted;
}
.layer .item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: default;
  -webkit-transition: 1s cubic-bezier(0.34, 0.16, 0.38, 1.81);
  -moz-transition: 1s cubic-bezier(0.34, 0.16, 0.38, 1.81);
  -o-transition: 1s cubic-bezier(0.34, 0.16, 0.38, 1.81);
  transition: 1s cubic-bezier(0.34, 0.16, 0.38, 1.81);
}
.layer .item .num {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
.layer .item:hover .num {
  color: white;
  text-shadow: 0 0 20px rgba(0, 255, 255, 0.95);
}

/* content */
#content {
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: 0%;
  width: 0%;
  height: 80%;
  z-index: 999;
  opacity: 0;
  overflow: hidden;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.5);
  color: #7fffff;
  pointer-events: all;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
#content[data-state='1'] {
  opacity: 1;
  margin-left: -55%;
  width: 110%;
}
#content[data-state='2'] {
  opacity: 1;
  width: 1000px;
  height: 700px;
  margin-left: -500px;
}
#content .icon-close {
  position: absolute;
  top: 2%;
  right: 6%;
}
#content .wrap {
  margin: 2% 10%;
  height: 86%;
  line-height: 1.5em;
  overflow: auto;
}
