html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* global */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #2d2d2d;
  background-size: 100% 100%;
  overflow: hidden;
  background: -webkit-gradient(radial, 100% 10%, 0, 100% 10%, 100, color-stop(0%, #375651), color-stop(100%, #000000));
  background: -webkit-radial-gradient(100% 10%, ellipse, #375651, #000000);
  background: -moz-radial-gradient(100% 10%, ellipse, #375651, #000000);
  background: -o-radial-gradient(100% 10%, ellipse, #375651, #000000);
  background: radial-gradient(100% 10%, ellipse, #375651, #000000);
}

#view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#main {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

/* svg */
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: white;
}

/* navi */
.navi {
  position: fixed;
  top: 0;
  left: -1px;
  width: 200px;
  height: 1600px;
  z-index: 99;
  border-right: 1px solid rgba(127, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.3);
  cursor: default;
  -webkit-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -moz-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -o-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.navi[data-state='0'] {
  opacity: 0;
  height: 0%;
}
.navi[data-state='1'] {
  opacity: 1;
  height: 100%;
}
.navi .item {
  margin-bottom: 1px;
  width: 100%;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  padding: 20px;
  opacity: 0;
  margin-left: 0px;
  -webkit-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -moz-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  -o-transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
  transition: 0.3s cubic-bezier(0.58, 0.24, 0.84, 0.61);
}
.navi .item:nth-child(1) {
  -webkit-animation: 0.3s 0.2s navi 1 forwards;
  -moz-animation: 0.3s 0.2s navi 1 forwards;
  -o-animation: 0.3s 0.2s navi 1 forwards;
  animation: 0.3s 0.2s navi 1 forwards;
}
.navi .item:nth-child(2) {
  -webkit-animation: 0.3s 0.4s navi 1 forwards;
  -moz-animation: 0.3s 0.4s navi 1 forwards;
  -o-animation: 0.3s 0.4s navi 1 forwards;
  animation: 0.3s 0.4s navi 1 forwards;
}
.navi .item:nth-child(3) {
  -webkit-animation: 0.3s 0.6s navi 1 forwards;
  -moz-animation: 0.3s 0.6s navi 1 forwards;
  -o-animation: 0.3s 0.6s navi 1 forwards;
  animation: 0.3s 0.6s navi 1 forwards;
}
.navi .item:nth-child(4) {
  -webkit-animation: 0.3s 0.8s navi 1 forwards;
  -moz-animation: 0.3s 0.8s navi 1 forwards;
  -o-animation: 0.3s 0.8s navi 1 forwards;
  animation: 0.3s 0.8s navi 1 forwards;
}
.navi .item:hover {
  color: white;
  text-shadow: 0 0 20px rgba(0, 255, 255, 0.95);
  background: rgba(255, 255, 255, 0.3);
}

@-webkit-keyframes navi {
  0% {
    margin-left: 1920px;
    opacity: 0;
  }

  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

@-moz-keyframes navi {
  0% {
    margin-left: 1920px;
    opacity: 0;
  }

  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

@-o-keyframes navi {
  0% {
    margin-left: 1920px;
    opacity: 0;
  }

  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes navi {
  0% {
    margin-left: 1920px;
    opacity: 0;
  }

  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

/* layer */
.layer {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 0px;
  -moz-perspective: 0px;
  -ms-perspective: 0px;
  -o-perspective: 0px;
  perspective: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
.layer[data-state='1'] .item, .layer[data-state='3'] .item {
  pointer-events: painted;
}
.layer[data-state='2'] {
  opacity: 0.3;
}
.layer .item {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: default;
  opacity: 0;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.layer .item .num {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}
.layer .item:hover .num {
  color: white;
  text-shadow: 0 0 20px rgba(0, 255, 255, 0.95);
}

.l1 {
  /* &[data-state='0'],
  &[data-state='2'] {
  	@include transform(rotateX($rotate) rotateZ(0deg) translateZ(-200px));
  }
  &[data-state='1'] {
  	@include transform(rotateX(0deg) rotateZ(390deg) translateZ(0px));
  } */
}

.l2 {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  /* &[data-state='0'],
  &[data-state='2'] {
  	@include perspective(1px);
  	@include transform(rotateX($rotate) translateZ(-100px));
  }
  &[data-state='1'] {
  	@include transform(translateZ(0px));
  	@include perspective(1px);
  }
  &[data-state='3'] {
  	@include transform(translateZ(0px));
  	@include perspective(400px);
  } */
}
.l2 .item {
  -webkit-transition: 1s cubic-bezier(0.5, 0, 0.5, 0.5);
  -moz-transition: 1s cubic-bezier(0.5, 0, 0.5, 0.5);
  -o-transition: 1s cubic-bezier(0.5, 0, 0.5, 0.5);
  transition: 1s cubic-bezier(0.5, 0, 0.5, 0.5);
}

.l3 {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  /* &[data-state='0'],
  &[data-state='2'] {
  	@include transform(rotateX($rotate) translateZ(100px));
  }
  &[data-state='1'] {
  	@include transform(translateZ(0px));
  } */
}

.l4 {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  /* &[data-state='0'],
  &[data-state='2'] {
  	@include transform(rotateX($rotate) translateZ(300px));
  }
  &[data-state='1'] {
  	@include transform(translateZ(0px));
  } */
}

/* content */
#content {
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: 0%;
  width: 0%;
  height: 80%;
  z-index: 999;
  opacity: 0;
  overflow: hidden;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.5);
  color: #7fffff;
  pointer-events: all;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
#content[data-state='1'] {
  opacity: 1;
  margin-left: -55%;
  width: 110%;
}
#content[data-state='2'] {
  opacity: 1;
  width: 1000px;
  height: 700px;
  margin-left: -500px;
}
#content .icon-close {
  position: absolute;
  top: 2%;
  right: 6%;
}
#content .wrap {
  margin: 2% 10%;
  height: 86%;
  line-height: 1.5em;
  overflow: auto;
}
