html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* global */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #2d2d2d;
  background-size: 100% 100%;
  background: -webkit-gradient(radial, 100% 10%, 0, 100% 10%, 100, color-stop(0%, #375651), color-stop(100%, #000000)), -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #46655c), color-stop(100%, #ffffff));
  background: -webkit-radial-gradient(100% 10%, 200% 160%, #375651, #000000), -webkit-linear-gradient(top right, #46655c, #ffffff);
  background: -moz-radial-gradient(100% 10%, 200% 160%, #375651, #000000), -moz-linear-gradient(top right, #46655c, #ffffff);
  background: -o-radial-gradient(100% 10%, 200% 160%, #375651, #000000), -o-linear-gradient(top right, #46655c, #ffffff);
  background: radial-gradient(100% 10%, 200% 160%, #375651, #000000), linear-gradient(top right, #46655c, #ffffff);
}

#main {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* layer */
.l1 {
  -webkit-transform: rotateX(-110deg);
  -moz-transform: rotateX(-110deg);
  -ms-transform: rotateX(-110deg);
  -o-transform: rotateX(-110deg);
  transform: rotateX(-110deg);
  -webkit-animation: fadein 10s 5s forwards;
  -moz-animation: fadein 10s 5s forwards;
  -o-animation: fadein 10s 5s forwards;
  animation: fadein 10s 5s forwards;
}

.l2 {
  -webkit-transform: rotateX(-110deg) translateZ(45px);
  -moz-transform: rotateX(-110deg) translateZ(45px);
  -ms-transform: rotateX(-110deg) translateZ(45px);
  -o-transform: rotateX(-110deg) translateZ(45px);
  transform: rotateX(-110deg) translateZ(45px);
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -o-transition: 5s;
  transition: 5s;
}

.l3 {
  /* @include transform(rotateX(-110deg) translateZ(-15px));
  @include transition($step-1 + $step-2); */
}

/* dial */
.dial {
  position: relative;
  margin: 100px auto;
  width: 500px;
  height: 500px;
}
.dial .wrap {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 460px;
  height: 460px;
}

.degree {
  -webkit-animation: degree 24s infinite linear;
  -moz-animation: degree 24s infinite linear;
  -o-animation: degree 24s infinite linear;
  animation: degree 24s infinite linear;
}
.degree:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

#path-degree {
  color: #fff;
  fill: none;
}

.text-degree {
  font-size: 30px;
  letter-spacing: 74px;
  text-anchor: start;
  stroke: rgba(255, 255, 255, 0.6);
  fill: none;
}

.circle {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 300px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke: rgba(255, 255, 255, 0.6);
  fill: none;
}

.c1 {
  -webkit-animation: border 5s ease-in forwards;
  -moz-animation: border 5s ease-in forwards;
  -o-animation: border 5s ease-in forwards;
  animation: border 5s ease-in forwards;
}

.rect {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 300px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke: rgba(255, 255, 255, 0.6);
  stroke-width: 2;
  fill: none;
}

.r1 {
  -webkit-animation: border 10s 5s ease forwards;
  -moz-animation: border 10s 5s ease forwards;
  -o-animation: border 10s 5s ease forwards;
  animation: border 10s 5s ease forwards;
}

/* animation */
@-webkit-keyframes degree {
  0% {
    -webkit-transform: rotateZ(0deg);
  }

  50% {
    -webkit-transform: rotateZ(180deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
  }
}

@-moz-keyframes degree {
  0% {
    -moz-transform: rotateZ(0deg);
  }

  50% {
    -moz-transform: rotateZ(180deg);
  }

  100% {
    -moz-transform: rotateZ(360deg);
  }
}

@-o-keyframes degree {
  0% {
    -o-transform: rotateZ(0deg);
  }

  50% {
    -o-transform: rotateZ(180deg);
  }

  100% {
    -o-transform: rotateZ(360deg);
  }
}

@keyframes degree {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes border {
  0% {
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes border {
  0% {
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes border {
  0% {
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes border {
  0% {
    stroke-dashoffset: 2000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
