@import "compass/css3";
@import "compass/reset";

@mixin animation($animate) {
	$max: length($animate);
	$animations: '';

	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};

		@if $i < $max {
			$animations: #{$animations + " "};
		}
	}
	-webkit-animation: $animations;
	-moz-animation: $animations;
	-o-animation: $animations;
	animation: $animations;
}
@mixin state($state) {
	-webkit-animation-play-state: $state;
	-moz-animation-play-state: $state;
	-o-animation-play-state: $state;
	animation-play-state: $state;
}
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		$browser: '-webkit-';
		@content;
	}
	@-moz-keyframes #{$animationName} {
		$browser: '-moz-';
		@content;
	}
	@-o-keyframes #{$animationName} {
		$browser: '-o-';
		@content;
	}
	@keyframes #{$animationName} {
		$browser: '';
		@content;
	}
}
$browser: null;

/* global */
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #2d2d2d;
	background-size: 100% 100%;
	overflow: hidden;
	pointer-events: none;
	@include background(
		radial-gradient(100% 10%, 200% 160%, #375651, #000)
	);
}

#main {
	@include perspective(500px);
	@include transform-style(preserve-3d);
	width: 100%;
	height: 100%;
}
/* navi */
.navi {
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -10%;
	width: 20%;
	height: 0%;
	pointer-events: none;

	z-index: 999;
	opacity: 0;
	overflow: hidden;

	box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
	border: 1px solid rgba(127, 255, 255, 0.6);
	background: rgba(0, 0, 0, 0.3);

	cursor: default;

	@include transition(2s);
	@include transform(rotateX(-10deg));
	@include transform-origin(0%, 0%);
	&.active {
		opacity: 1;
		height: 100%;
		pointer-events: painted;
	}
	.item {
		width: 100%;
		display: block;
		padding: 20px;
		background: rgba(255, 255, 255, 0.1);
		box-sizing: border-box;
		margin-bottom: 1px;
		&:hover {
			color: rgba(255, 255, 255, 1);
			text-shadow: 0 0 20px rgba(0, 255, 255, 0.95);
			background: rgba(255, 255, 255, 0.3);
		}
	}
}

/* layer */
.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	@include transition(1s);
	@include transform(rotateX(70deg));
	&.active {
		pointer-events: painted;
	}
	.item {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -60px;
		margin-left: -60px;
		width: 120px;
		height: 120px;
		text-align: center;
		cursor: default;
		opacity: 0;
		@include transition(2s);
		.num {
			font-size: 60px;
			line-height: 120px;
			font-weight: bold;
			color: rgba(255, 255, 255, 0.75);
			text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
		}
		&:hover .num {
			color: rgba(255, 255, 255, 1);
			text-shadow: 0 0 20px rgba(0, 255, 255, 0.95);
		}
	}
}
.l1 {
	@include transform(rotateX(70deg) translateZ(-200px));
	&.active {
	}
}
.l2 {
	@include transition(3s);
	@include transform(rotateX(70deg) translateZ(-100px));
	&.active {
	}
}
.l3 {
	@include transition(5s);
	@include transform(rotateX(70deg) translateZ(100px));
	&.active {
	}
}
.l4 {
	@include transition(10s);
	@include transform(rotateX(70deg) translateZ(300px));
	&.active {
	}
}
